{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "Account Cards",
    "description" : "API to create, update and manage various types of cards issued to the account",
    "version" : "v2.0.0"
  },
  "servers" : [ {
    "url" : "https://api.temenos.com/api/v2.0.0/"
  } ],
  "security" : [ {
    "apiKey" : [ ]
  } ],
  "tags" : [ ],
  "paths" : {
    "/holdings/cards/{cardIssueId}" : {
      "put" : {
        "tags" : [ ],
        "summary" : "Updates card issue request of an account",
        "description" : "Update card issue request with card status, issue date, pin issue date, cancellation date & reason",
        "operationId" : "updateCardIssue",
        "parameters" : [ {
          "name" : "cardIssueId",
          "in" : "path",
          "description" : "The identifier of the issued card formatted as cardType '.' cardNumber. E.g. VISA.1234567887654321 GC.1111222233334444 AB21.1111111122222222",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "schema" : {
            "type" : "boolean"
          }
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "body Payload",
          "content" : {
            "*/*" : {
              "schema" : {
                "$ref" : "#/components/schemas/CardIssue"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "CardIssueResponse",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CardIssueResponse"
                }
              }
            }
          },
          "default" : {
            "description" : "ScreenErrorResponse",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ScreenErrorResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "BusinessScreenErrorResponse",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BusinessScreenErrorResponse"
                }
              }
            }
          },
          "500" : {
            "description" : "SystemScreenErrorResponse",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SystemScreenErrorResponse"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name" : "payload"
      },
      "post" : {
        "tags" : [ ],
        "summary" : "Creates card issue request for an account",
        "description" : "Create card issue request with details such as card status, issue date, pin issue date and charges",
        "operationId" : "createCardIssue",
        "parameters" : [ {
          "name" : "cardIssueId",
          "in" : "path",
          "description" : "The identifier of the issued card formatted as cardType '.' cardNumber. E.g. VISA.1234567887654321 GC.1111222233334444 AB21.1111111122222222",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "schema" : {
            "type" : "boolean"
          }
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "body Payload",
          "content" : {
            "*/*" : {
              "schema" : {
                "$ref" : "#/components/schemas/CardIssue"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "CardIssueResponse",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CardIssueResponse"
                }
              }
            }
          },
          "default" : {
            "description" : "ScreenErrorResponse",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ScreenErrorResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "BusinessScreenErrorResponse",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BusinessScreenErrorResponse"
                }
              }
            }
          },
          "500" : {
            "description" : "SystemScreenErrorResponse",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SystemScreenErrorResponse"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name" : "payload"
      },
      "delete" : {
        "tags" : [ ],
        "summary" : "Removes an issued card for an account",
        "description" : "Delete or revoke the card issue request for an account",
        "operationId" : "deleteCardIssue",
        "parameters" : [ {
          "name" : "cardIssueId",
          "in" : "path",
          "description" : "The identifier of the issued card formatted as cardType '.' cardNumber. E.g. VISA.1234567887654321 GC.1111222233334444 AB21.1111111122222222",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "schema" : {
            "type" : "boolean"
          }
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "body Payload",
          "content" : {
            "*/*" : {
              "schema" : {
                "$ref" : "#/components/schemas/CardIssueDelete"
              }
            }
          },
          "required" : false
        },
        "responses" : {
          "200" : {
            "description" : "CardIssueResponse",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CardIssueResponse"
                }
              }
            }
          },
          "default" : {
            "description" : "ScreenErrorResponse",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ScreenErrorResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "BusinessScreenErrorResponse",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BusinessScreenErrorResponse"
                }
              }
            }
          },
          "500" : {
            "description" : "SystemScreenErrorResponse",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SystemScreenErrorResponse"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name" : "payload"
      }
    },
    "/holdings/cards" : {
      "get" : {
        "tags" : [ ],
        "summary" : "Retrieves issued cards details of an account",
        "description" : "Retrieves the card details of the account such as card number, card type, issue date, cancellation date, reason & status of the card",
        "operationId" : "getCardIssues",
        "parameters" : [ {
          "name" : "cardIssueId",
          "in" : "query",
          "description" : "The identifier of the issued card formatted as cardType '.' cardNumber. E.g. VISA.1234567887654321 GC.1111222233334444 AB21.1111111122222222",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "accountId",
          "in" : "query",
          "description" : "Identifier of the account. Often referred to as the account number, yet for consistency this is always referred to as accountId. Accepts both IBAN & BBAN",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "issueDate",
          "in" : "query",
          "description" : "The date the item was issued.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "expiryDate",
          "in" : "query",
          "description" : "The date an agreement such as an arrangement, product, credit facility or limit is due to expire",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "cardStatus",
          "in" : "query",
          "description" : "Current status of the Card and following are the possible statuses are  - CARD.ISSUED - CARD.RETURNED - CARD.SCRAP - CARD.CANCEL - NOT.ACTIVATED - NOT.RECEIVED - ACTIVE - BLOCKED - EXPIRED",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from Transact on every enquiry request.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "disablePagination",
          "in" : "header",
          "description" : "Indicates the pagination header attributes availability. If set to 'true', it fetches all the data",
          "schema" : {
            "type" : "boolean"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "CardIssuesResponse",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CardIssuesResponse"
                }
              }
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/QueryErrorResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BusinessQueryErrorResponse"
                }
              }
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SystemQueryErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "PayloadHeader" : {
        "type" : "object",
        "properties" : {
          "override" : {
            "$ref" : "#/components/schemas/PayloadHeaderOverride"
          },
          "audit" : {
            "$ref" : "#/components/schemas/PayloadHeaderAudit"
          }
        }
      },
      "CardIssue" : {
        "type" : "object",
        "properties" : {
          "header" : {
            "$ref" : "#/components/schemas/PayloadHeader"
          },
          "body" : {
            "$ref" : "#/components/schemas/CardIssueBody"
          }
        },
        "description" : "CardIssue"
      },
      "CardIssueBody" : {
        "type" : "object",
        "properties" : {
          "accountIds" : {
            "type" : "array",
            "description" : "Identifier of the account. Often referred to as the account number, yet for consistency this is always referred to as accountId. Accepts both IBAN & BBAN",
            "items" : {
              "$ref" : "#/components/schemas/CardIssueBodyAccountIds"
            }
          },
          "cardNames" : {
            "type" : "array",
            "description" : "Name of the Cardholder/Customer",
            "items" : {
              "$ref" : "#/components/schemas/CardIssueBodyCardNames"
            }
          },
          "notes" : {
            "type" : "array",
            "description" : "Notes to facilitate the use of the Function.",
            "items" : {
              "$ref" : "#/components/schemas/CardIssueBodyNotes"
            }
          },
          "cardStatus" : {
            "maxLength" : 10,
            "minLength" : 0,
            "type" : "string",
            "description" : "Current status of the Card and following are the possible statuses are  - CARD.ISSUED - CARD.RETURNED - CARD.SCRAP - CARD.CANCEL - NOT.ACTIVATED - NOT.RECEIVED - ACTIVE - BLOCKED - EXPIRED"
          },
          "currencyId" : {
            "maxLength" : 10,
            "minLength" : 0,
            "type" : "string",
            "description" : "Identifier of the currency. This is the 3-letter ISO 4217 code of the currency."
          },
          "issueDate" : {
            "type" : "string",
            "description" : "The date the item was issued.",
            "format" : "date"
          },
          "expiryDate" : {
            "type" : "string",
            "description" : "The date an agreement such as an arrangement, product, credit facility or limit is due to expire",
            "format" : "date"
          },
          "pinIssueDate" : {
            "type" : "string",
            "description" : "Contains the date of issue of the pin",
            "format" : "date"
          },
          "cancellationDate" : {
            "type" : "string",
            "description" : "The date of cancellation",
            "format" : "date"
          },
          "cancellationReason" : {
            "maxLength" : 18,
            "minLength" : 0,
            "type" : "string",
            "description" : "The reason for the cancellation"
          },
          "customerId" : {
            "maxLength" : 10,
            "minLength" : 0,
            "type" : "string",
            "description" : "Identifier of the customer"
          },
          "cardDisplayNumber" : {
            "maxLength" : 35,
            "minLength" : 0,
            "type" : "string",
            "description" : "The number which is up for display on the credit or debit card."
          },
          "charge" : {
            "maxLength" : 19,
            "minLength" : 0,
            "type" : "string",
            "description" : "The charges or fees for this transaction"
          },
          "chargeDate" : {
            "maxLength" : 11,
            "minLength" : 0,
            "type" : "string",
            "description" : "The date on which the charge will be debited to the charge account"
          }
        }
      },
      "ScreenHeader" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "description" : "The Identifier of the record created"
          },
          "status" : {
            "type" : "string",
            "description" : "Status of the API(success/failed)"
          },
          "transactionStatus" : {
            "type" : "string",
            "description" : "The status of the transaction"
          },
          "uniqueIdentifier" : {
            "type" : "string",
            "description" : "The unique identifier/Message Reference of the record created."
          },
          "audit" : {
            "$ref" : "#/components/schemas/ScreenHeaderAudit"
          }
        }
      },
      "CardIssueResponse" : {
        "type" : "object",
        "properties" : {
          "header" : {
            "$ref" : "#/components/schemas/ScreenHeader"
          },
          "body" : {
            "$ref" : "#/components/schemas/CardIssueResponseBody"
          }
        },
        "description" : "CardIssueResponse"
      },
      "CardIssueResponseBody" : {
        "type" : "object",
        "properties" : {
          "accountIds" : {
            "type" : "array",
            "description" : "Identifier of the account. Often referred to as the account number, yet for consistency this is always referred to as accountId. Accepts both IBAN & BBAN",
            "items" : {
              "$ref" : "#/components/schemas/CardIssueBodyAccountIds"
            }
          },
          "cardNames" : {
            "type" : "array",
            "description" : "Name of the Cardholder/Customer",
            "items" : {
              "$ref" : "#/components/schemas/CardIssueBodyCardNames"
            }
          },
          "notes" : {
            "type" : "array",
            "description" : "Notes to facilitate the use of the Function.",
            "items" : {
              "$ref" : "#/components/schemas/CardIssueBodyNotes"
            }
          },
          "cardStatus" : {
            "maxLength" : 10,
            "minLength" : 0,
            "type" : "string",
            "description" : "Current status of the Card and following are the possible statuses are  - CARD.ISSUED - CARD.RETURNED - CARD.SCRAP - CARD.CANCEL - NOT.ACTIVATED - NOT.RECEIVED - ACTIVE - BLOCKED - EXPIRED"
          },
          "currencyId" : {
            "maxLength" : 10,
            "minLength" : 0,
            "type" : "string",
            "description" : "Identifier of the currency. This is the 3-letter ISO 4217 code of the currency."
          },
          "issueDate" : {
            "type" : "string",
            "description" : "The date the item was issued.",
            "format" : "date"
          },
          "expiryDate" : {
            "type" : "string",
            "description" : "The date an agreement such as an arrangement, product, credit facility or limit is due to expire",
            "format" : "date"
          },
          "pinIssueDate" : {
            "type" : "string",
            "description" : "Contains the date of issue of the pin",
            "format" : "date"
          },
          "cancellationDate" : {
            "type" : "string",
            "description" : "The date of cancellation",
            "format" : "date"
          },
          "cancellationReason" : {
            "maxLength" : 18,
            "minLength" : 0,
            "type" : "string",
            "description" : "The reason for the cancellation"
          },
          "customerId" : {
            "maxLength" : 10,
            "minLength" : 0,
            "type" : "string",
            "description" : "Identifier of the customer"
          },
          "cardDisplayNumber" : {
            "maxLength" : 35,
            "minLength" : 0,
            "type" : "string",
            "description" : "The number which is up for display on the credit or debit card."
          },
          "charge" : {
            "maxLength" : 19,
            "minLength" : 0,
            "type" : "string",
            "description" : "The charges or fees for this transaction"
          },
          "chargeDate" : {
            "maxLength" : 11,
            "minLength" : 0,
            "type" : "string",
            "description" : "The date on which the charge will be debited to the charge account"
          }
        }
      },
      "ErrorHeader" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "description" : "The Identifier of the record created"
          },
          "status" : {
            "type" : "string",
            "description" : "Status of the API(success/failed)"
          },
          "transactionStatus" : {
            "type" : "string",
            "description" : "The status of the transaction"
          },
          "uniqueIdentifier" : {
            "type" : "string",
            "description" : "The unique identifier/Message Reference of the record created."
          },
          "audit" : {
            "$ref" : "#/components/schemas/ScreenHeaderAudit"
          }
        }
      },
      "overrideBody" : {
        "type" : "object",
        "properties" : {
          "overrideDetails" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/OverrideBodyOverrideDetails"
            }
          }
        }
      },
      "ScreenErrorResponse" : {
        "type" : "object",
        "properties" : {
          "header" : {
            "$ref" : "#/components/schemas/ErrorHeader"
          },
          "error" : {
            "$ref" : "#/components/schemas/ScreenErrorResponseBody"
          },
          "override" : {
            "$ref" : "#/components/schemas/overrideBody"
          }
        },
        "description" : "ScreenErrorResponse"
      },
      "ScreenErrorResponseBody" : {
        "type" : "object",
        "properties" : {
          "errorDetails" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/ScreenErrorResponseBodyErrorDetails"
            }
          },
          "type" : {
            "type" : "string",
            "description" : "The identifier of error type: "
          }
        }
      },
      "BusinessScreenErrorResponse" : {
        "type" : "object",
        "properties" : {
          "header" : {
            "$ref" : "#/components/schemas/ErrorHeader"
          },
          "error" : {
            "$ref" : "#/components/schemas/BusinessScreenErrorResponseBody"
          },
          "override" : {
            "$ref" : "#/components/schemas/overrideBody"
          }
        },
        "description" : "BusinessScreenErrorResponse"
      },
      "BusinessScreenErrorResponseBody" : {
        "type" : "object",
        "properties" : {
          "errorDetails" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/BusinessScreenErrorResponseBodyErrorDetails"
            }
          },
          "type" : {
            "type" : "string",
            "description" : "The identifier of error type: Business"
          }
        }
      },
      "SystemScreenErrorResponse" : {
        "type" : "object",
        "properties" : {
          "header" : {
            "$ref" : "#/components/schemas/ErrorHeader"
          },
          "error" : {
            "$ref" : "#/components/schemas/SystemScreenErrorResponseBody"
          },
          "override" : {
            "$ref" : "#/components/schemas/overrideBody"
          }
        },
        "description" : "SystemScreenErrorResponse"
      },
      "SystemScreenErrorResponseBody" : {
        "type" : "object",
        "properties" : {
          "errorDetails" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/SystemScreenErrorResponseBodyErrorDetails"
            }
          },
          "type" : {
            "type" : "string",
            "description" : "The identifier of error type: System"
          }
        }
      },
      "CardIssueDelete" : {
        "type" : "object",
        "properties" : {
          "header" : {
            "$ref" : "#/components/schemas/PayloadHeader"
          }
        },
        "description" : "CardIssueDelete"
      },
      "QueryHeader" : {
        "type" : "object",
        "properties" : {
          "audit" : {
            "$ref" : "#/components/schemas/ScreenHeaderAudit"
          },
          "status" : {
            "type" : "string",
            "description" : "Status of the API(success/failed)"
          },
          "page_size" : {
            "type" : "integer",
            "description" : "The total number of records per page",
            "format" : "int32"
          },
          "page_start" : {
            "type" : "integer",
            "description" : "The record from which the response should be displayed",
            "format" : "int32"
          },
          "total_size" : {
            "type" : "integer",
            "description" : "The total number of records present",
            "format" : "int32"
          },
          "page_token" : {
            "type" : "string",
            "description" : "Unique id expected to get as part of response from Transact on every enquiry request"
          }
        }
      },
      "CardIssuesResponse" : {
        "type" : "object",
        "properties" : {
          "header" : {
            "$ref" : "#/components/schemas/QueryHeader"
          },
          "body" : {
            "$ref" : "#/components/schemas/CardIssuesResponseBody"
          }
        },
        "description" : "CardIssuesResponse"
      },
      "CardIssuesResponseBody" : {
        "type" : "array",
        "items" : {
          "$ref" : "#/components/schemas/CardIssuesResponseBodyInner"
        }
      },
      "QueryErrorResponse" : {
        "type" : "object",
        "properties" : {
          "header" : {
            "$ref" : "#/components/schemas/ErrorHeader"
          },
          "error" : {
            "$ref" : "#/components/schemas/QueryErrorResponseBody"
          }
        },
        "description" : "QueryErrorResponse"
      },
      "QueryErrorResponseBody" : {
        "type" : "object",
        "properties" : {
          "code" : {
            "type" : "string",
            "description" : "The identifier of the error message"
          },
          "message" : {
            "type" : "string",
            "description" : "The actual Transact error message "
          },
          "type" : {
            "type" : "string",
            "description" : "The identifier of error type: "
          }
        }
      },
      "BusinessQueryErrorResponse" : {
        "type" : "object",
        "properties" : {
          "header" : {
            "$ref" : "#/components/schemas/ErrorHeader"
          },
          "error" : {
            "$ref" : "#/components/schemas/BusinessQueryErrorResponseBody"
          }
        },
        "description" : "BusinessQueryErrorResponse"
      },
      "BusinessQueryErrorResponseBody" : {
        "type" : "object",
        "properties" : {
          "code" : {
            "type" : "string",
            "description" : "The identifier of the error message"
          },
          "message" : {
            "type" : "string",
            "description" : "The actual Transact error message for bad requests"
          },
          "type" : {
            "type" : "string",
            "description" : "The identifier of error type: Business"
          }
        }
      },
      "SystemQueryErrorResponse" : {
        "type" : "object",
        "properties" : {
          "header" : {
            "$ref" : "#/components/schemas/ErrorHeader"
          },
          "error" : {
            "$ref" : "#/components/schemas/SystemQueryErrorResponseBody"
          }
        },
        "description" : "SystemQueryErrorResponse"
      },
      "SystemQueryErrorResponseBody" : {
        "type" : "object",
        "properties" : {
          "code" : {
            "type" : "string",
            "description" : "The identifier of the error message"
          },
          "message" : {
            "type" : "string",
            "description" : "The actual Transact error message caused by server"
          },
          "type" : {
            "type" : "string",
            "description" : "The identifier of error type: System"
          }
        }
      },
      "PayloadHeaderOverrideOverrideDetails" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "description" : "The identifier of the override."
          },
          "description" : {
            "type" : "string",
            "description" : "The actual override message."
          },
          "code" : {
            "type" : "string",
            "description" : "The code related to override message."
          },
          "responseCode" : {
            "type" : "string",
            "description" : "The user input to accept/reject the override."
          }
        }
      },
      "PayloadHeaderOverride" : {
        "type" : "object",
        "properties" : {
          "overrideDetails" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/PayloadHeaderOverrideOverrideDetails"
            }
          }
        }
      },
      "PayloadHeaderAudit" : {
        "type" : "object",
        "properties" : {
          "versionNumber" : {
            "type" : "string",
            "description" : "The CURR.NO. of the record"
          }
        }
      },
      "CardIssueBodyAccountIds" : {
        "type" : "object",
        "properties" : {
          "accountId" : {
            "maxLength" : 16,
            "minLength" : 0,
            "type" : "string",
            "description" : "Identifier of the account. Often referred to as the account number, yet for consistency this is always referred to as accountId. Accepts both IBAN & BBAN"
          }
        }
      },
      "CardIssueBodyCardNames" : {
        "type" : "object",
        "properties" : {
          "cardName" : {
            "maxLength" : 35,
            "minLength" : 0,
            "type" : "string",
            "description" : "Name of the Cardholder/Customer"
          }
        }
      },
      "CardIssueBodyNotes" : {
        "type" : "object",
        "properties" : {
          "note" : {
            "maxLength" : 35,
            "minLength" : 0,
            "type" : "string",
            "description" : "Notes to facilitate the use of the function"
          }
        }
      },
      "ScreenHeaderAudit" : {
        "type" : "object",
        "properties" : {
          "T24_time" : {
            "type" : "integer",
            "description" : "Time taken to response by Transact",
            "format" : "int32"
          },
          "versionNumber" : {
            "type" : "string",
            "description" : "The CURR.NO. of the record"
          },
          "requestParse_time" : {
            "type" : "number",
            "description" : "Time taken to parse the request by IRIS"
          },
          "responseParse_time" : {
            "type" : "number",
            "description" : "Time taken to parse the response by IRIS"
          }
        }
      },
      "OverrideBodyOverrideDetails" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "description" : "The identifier of the override."
          },
          "description" : {
            "type" : "string",
            "description" : "The actual override message."
          },
          "code" : {
            "type" : "string",
            "description" : "The code related to override message."
          },
          "options" : {
            "type" : "array",
            "description" : "The usable options for the override.",
            "items" : {
              "type" : "string"
            }
          },
          "type" : {
            "type" : "string",
            "description" : "The type of the override."
          }
        }
      },
      "ScreenErrorResponseBodyErrorDetails" : {
        "type" : "object",
        "properties" : {
          "fieldName" : {
            "type" : "string",
            "description" : "The name of the field"
          },
          "code" : {
            "type" : "string",
            "description" : "The identifier of the error message"
          },
          "message" : {
            "type" : "string",
            "description" : "The actual Transact error message "
          }
        }
      },
      "BusinessScreenErrorResponseBodyErrorDetails" : {
        "type" : "object",
        "properties" : {
          "fieldName" : {
            "type" : "string",
            "description" : "The name of the field"
          },
          "code" : {
            "type" : "string",
            "description" : "The identifier of the error message"
          },
          "message" : {
            "type" : "string",
            "description" : "The actual Transact error message for bad requests"
          }
        }
      },
      "SystemScreenErrorResponseBodyErrorDetails" : {
        "type" : "object",
        "properties" : {
          "fieldName" : {
            "type" : "string",
            "description" : "The name of the field"
          },
          "code" : {
            "type" : "string",
            "description" : "The identifier of the error message"
          },
          "message" : {
            "type" : "string",
            "description" : "The actual Transact error message caused by server"
          }
        }
      },
      "CardIssuesResponseBodyInner" : {
        "type" : "object",
        "properties" : {
          "accountIds" : {
            "type" : "array",
            "description" : "Identifier of the account. Often referred to as the account number, yet for consistency this is always referred to as accountId. Accepts both IBAN & BBAN",
            "items" : {
              "type" : "object",
              "properties" : {
                "accountId" : {
                  "maxLength" : 16,
                  "type" : "string",
                  "description" : "Identifier of the account. Often referred to as the account number, yet for consistency this is always referred to as accountId. Accepts both IBAN & BBAN"
                }
              }
            }
          },
          "cardNames" : {
            "type" : "array",
            "description" : "Name of the Cardholder/Customer",
            "items" : {
              "type" : "object",
              "properties" : {
                "cardName" : {
                  "maxLength" : 35,
                  "type" : "string",
                  "description" : "Name of the Cardholder/Customer"
                }
              }
            }
          },
          "cardIssueId" : {
            "maxLength" : 24,
            "type" : "string",
            "description" : "The identifier of the issued card formatted as cardType '.' cardNumber. E.g. VISA.1234567887654321 GC.1111222233334444 AB21.1111111122222222"
          },
          "cardType" : {
            "maxLength" : 4,
            "type" : "string",
            "description" : "The type of the card, e.g. Visa, Mastercard, etc."
          },
          "cardTypeName" : {
            "maxLength" : 35,
            "type" : "string",
            "description" : "Contains the name of the card type such as EURO GOLD, MASTER CARD PLATINUM, VISA TITANIUM"
          },
          "cardNumber" : {
            "type" : "string",
            "description" : "Cards issued are defined with an identifier consisting of three elements. The card type, a full stop and the card number. The card number may be any alphanumeric construction, commonly a 16 numeric number is used. VISA.5332870296579001. The id must be in the form of:  CCCC.AAAAAAAAAAAAAAAA  Where CCCC is the card type and AAAAAAAAAAAAAAAA is a unique identifier.  Examples:   VISA.1234567887654321   GC.1111222233334444   AB21.1111111122222222"
          },
          "cardDisplayNumber" : {
            "type" : "string",
            "description" : "The number which is up for display on the credit or debit card."
          },
          "cardStatus" : {
            "maxLength" : 35,
            "type" : "string",
            "description" : "Current status of the Card and following are the possible statuses are  - CARD.ISSUED - CARD.RETURNED - CARD.SCRAP - CARD.CANCEL - NOT.ACTIVATED - NOT.RECEIVED - ACTIVE - BLOCKED - EXPIRED"
          },
          "customerId" : {
            "maxLength" : 10,
            "type" : "string",
            "description" : "Identifier of the customer"
          },
          "currencyId" : {
            "maxLength" : 3,
            "type" : "string",
            "description" : "Identifier of the currency. This is the 3-letter ISO 4217 code of the currency."
          },
          "issueDate" : {
            "type" : "string",
            "description" : "The date the item was issued.",
            "format" : "date"
          },
          "expiryDate" : {
            "type" : "string",
            "description" : "The date an agreement such as an arrangement, product, credit facility or limit is due to expire",
            "format" : "date"
          },
          "cancellationDate" : {
            "type" : "string",
            "description" : "The date of cancellation",
            "format" : "date"
          },
          "cancellationReason" : {
            "maxLength" : 35,
            "type" : "string",
            "description" : "The reason for the cancellation"
          }
        }
      }
    },
    "securitySchemes" : {
      "basicAuth" : {
        "type" : "http",
        "scheme" : "basic"
      },
      "apiKey" : {
        "type" : "apiKey",
        "name" : "Authorization",
        "in" : "header"
      }
    }
  },
  "x-original-swagger-version" : "2.0"
}